<!DOCTYPE html>
<html lang="en">

<head>
  <title>Statistics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css"> {{!-- {{{css}}} --}}
  <script src="scripts/libs/jquery.min.js"></script> {{!-- {{{scripts}}} --}}
  <script src="scripts/libs/bootstrap.min.js"></script>
  <script src="scripts/libs/socket.io.js"></script>
  <script src="scripts/sockets.js"></script>
  <script src="scripts/libs/loader.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <h1>Statistics</h1>
      <div class="dropdown">
        <button class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="hour">Hour</a>
          </li>
          <li>
            <a href="day">Day</a>
          </li>
          <li>
            <a href="week">Week</a>
          </li>
        </ul>
      </div>
      <a href="peaks" class="btn btn-lg btn-default">Peaks {{#if locals.newPeaksCounter}}
        <span class="badge">{{locals.newPeaksCounter}}</span>
        {{/if}}</a>
    </div>
  </div>
  <div id="status" class="container-fluid"></div>
  {{{body}}}
</body>

</html>