<div class="col-md-12">
  <div id="chart" style="width: 100%; min-width: 900px; min-height: 700px;"></div>
</div>
<script src="scripts/libs/loader.js"></script>
<script src="scripts/data.js"></script>